body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding: 17px 0;
}
.logo-part {
  color: #2e2f42;
  margin: 0 auto;
}
.open-menu-btn{
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;

}
.address-list{
  display: none;}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list{
    display: flex;
    gap:40px;
  }
  .open-menu-btn{
    display: none;
  }
  .address{
display: flex;
  }
  .logo{
    margin-right: 120px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.link-nav:active {
  color: #404bbf;
}

.carent {
  position: relative;
  color: #404bbf;
}

.carent::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.link-nav:hover::after {
  background-color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
  display: flex;
}
.address-list{
  display: flex;
  flex-direction:column ;
  gap: 12px;
}
.address-link {
  color: #434455;
  font-size: 12px;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

}

@media screen and (min-width: 1158px){
  .logo{
    margin-right: 76px;
  }
  .address-list{
    display: flex;
    flex-direction: row;
    gap:40px;
  }
  .address-link{
    font-size: 16px;
    line-height: 1.5;
  }

}


.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;
}





.section-button {
  background-color: #2e2f42;
  padding: 72px 52px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .section-button {
    background-color: #2e2f42;
    padding: 136px 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
      max-width: 768px;
      height: 436px;
  }
}

.tittle-first {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .tittle-first {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 0;
  }
}



.button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48;
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #404bbf;
}

.gualities-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.gualities {
  width: calc((100% - 72px) / 4);
}

.gualities-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.tittle-second {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style-type: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.section-team {
  background-color: #f4f4fd;
  flex-shrink: 0;
  padding: 120px 0;
}

.section-portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-back {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.worker {
  padding: 32px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-li {
  width: calc((100% -48px / 3));
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img {
  display: block;
}

.second-section {
  padding: 120px 0 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-tittle {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  transform: translateY(0%);
  display: flex;
  gap: 8px;
}

.title-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-text {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  margin: 0;
}

.portfolio-img {
  display: block;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-part-second {
  color: #f4f4fd;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #404bbf;
}

.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.item-icons {
  width: 40px;
  height: 40px;
}

.text-social {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover {
  background-color: #31d0aa;
}

.social-link-footer:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}

.last {
  align-items: baseline;
  display: flex;
}

.logof {
  margin-right: 120px;
}

.pictures-portfolio {
  position: relative;
  overflow: hidden;
}

.textport {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures-portfolio:hover .textport {
  transform: translateY(0);
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;

}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px; 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-p{
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
margin-bottom: 16px; 

}


.div-label {
  margin-bottom: 8px;
 
}
.label {
font-size: 12px;
font-style: normal;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}
.div-input {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #4D5AE5;
}
.input:focus + .icon-label {
  fill: #4D5AE5;
} 
.icon-label {
  position: absolute;
  left: 16px;
  top:50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42;
  
}

.div-textarea {
  margin-bottom: 16px;
}
.textarea {
  padding: 8px 16px;  
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus,
.textarea:hover {
  border-color: #4D5AE5;
}
.div-checkbox {
  margin-bottom: 24px;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}
.span-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox:checked + .label-checkbox .span-checkbox {
  background-color: #404BBF;
  border: none;
  fill: #f4f4fd;
}

.checkbox:focus + .label-checkbox .span-checkbox {
  border-color: #4D5AE5;
}
.privacy-policy {
  color: #4D5AE5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; 
  letter-spacing: 0.04;
  text-decoration: underline;
}
.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404BBF;}

  .subscribe {
    margin-left: auto;
  }
  .subscribe-p {
    font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  }
  .form-subscribe {
    display: flex;
    gap: 24px;
  }
  
  .input-subscribe {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color:#ffffff;
    background-color: transparent;
    font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; 
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .input-subscribe:focus,
  .input-subscribe:hover {
    border-color: #4D5AE5;
  }
  .input-subscribe::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px, 16px;
  }
  .subscribe-button {
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-button:focus,
  .subscribe-button:hover {
    background-color: #404BBF;
  }
  .icon-button {
    fill: #FFFFFF;
    margin-left: 16px;
  }